# Node & Next.js (Frontend)
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env

# Python (Backend)
backend/venv/
backend/__pycache__/
backend/app/**/__pycache__/
*.pyc
*.pyo
*.pyd
backend/.env.local

# Media Files
*.mp4
*.mp3
*.wav

# OS Files
.DS_Store
Thumbs.db
venv/
